@charset "UTF-8";
* {
    font-family: 'Nanum Gothic', sans-serif;
}

wrap {
    min-width: 1330px;
}

/* Navbar */
.navBar {
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.navBarContent {
    height: 70px;
    width: 1330px;
    margin: auto;
    display: flex;
}

.navBarLogo {
    height: 70px;
    width: 162px;
    padding-top: 18px;
    display: inline-block;
}

.navContent {
    width: 1000px;
    height: 70px;
    display: flex;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 20px;
    text-align: center;
}

.gallery, .ranking, .pictureRegist, .myPicture, .community {
    display: inline-block;
    margin: auto;
}

.gallery > a:link, .ranking > a:link, .pictureRegist > a:link, .myPicture > a:link, .community > a:link {
    color: #414141;
    text-decoration: none;
}

.gallery > a:visited, .ranking > a:visited, .pictureRegist > a:visited, .myPicture > a:visited, .community > a:visited {
    color: #414141;
    text-decoration: none;
}

.gallery > a:hover, .ranking > a:hover, .pictureRegist > a:hover, .myPicture > a:hover, .community > a:hover {
    color: #414141;
    border: rgba(28, 175, 244, 0.8) solid;
    border-width: 0 0 12px 0;

}

.helloUser {
    width: 200px;
    padding: 18px 10px 10px 0;
    text-align: right;
    font-size: 14px;
}

.logOutBtn {
    padding-top: 23px;
}
/* searchBar */

.searchBar {
    height: 50px;
    position: sticky;
    background-color:white;
}

.searchBarContent {
    height: 50px;
    width: 1330px;
    margin: auto;
    display: flex;
}

.category {
    display: inline-block;
    width: 998px;
    padding-top: 5px;
}

.search {
    width: 400px;
    display: flex;
    padding-top: 5px;
    padding-left: 30px;
    text-align: right;
}


.custom-select {
    height: 40px;
    border-color: #AFAFAF;
    border-radius: 4px;
}

.form-control {
    height: 40px;
    width: 200px;
    margin-left: 10px;
}

#btnSearch {
	margin-left: 10px;
    height: 40px;
}

/* Middle section */

.middleSectionWrap {
    height: 60px;
}

.middleSection {
    height: 50px;
    width: 1330px;
    margin: auto;
    font-size: 18px;
    padding: 15px 0 0 10px;
    display: flex;
}

.middleSection > i {
    color: #1CAFF4;
}

.pictureCount {
    padding: 2px 0 0 10px;
}

/* PictureCards section */
.pictureCardSectionWrap {
    top: 170px;
    width: 1330px;
}

.pictureCardSection {
	width: 1330px;
    margin: auto;
    list-style: none;
    padding-inline-start:0px;

}


.pictureCard {
    height: 262px;
    width: 262px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.cardImage {
    height: 262px;
    width: 262px;
}


/* 그림 마우스 Hover */
a:hover .hoveruserNickname {
    top: 62%;
}

a:hover .hoverLike {
    top: 80%;
}

a:hover .hoverTitle {
    bottom: 52%;
}

.screen {
    height: 262px;
    width: 262px;
    position: relative;
    overflow: hidden;
	margin:0;
	padding:0;
	display: inline-block;
}

.hoverTitle {
    position: absolute;
    bottom: 150%;
    left: 15px;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: all .60s;
}

.hoverLike {
    position: absolute;
    top: 150%;
    left: 15px;
    z-index: 2;
    color: azure;
    font-size: 12px;
    transition: all .60s;
}

.hoveruserNickname {
    position: absolute;
    top: 150%;
    left: 15px;
    z-index: 2;
    color: azure;
    font-size: 12px;
    transition: all .60s;

}

.screen::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 262px;
    height: 262px;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

a:hover .screen::after {
    opacity: 0.9;
}

/* ranking 페이지 */
/* TOP */

.rankSectionTop {
    height: 528px;
    width: 1330px;
    margin: auto;
    display: flex;

}

.rankCard {
    height: 520px;
    width: 430px;
    background-color: #f4f4f4;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;

}

.rankImg > img {
    height: 410px;
    width: 410px;
    border-radius: 20px;

}

.rank {
    display: flex;
    margin-top: 10px;
    padding-left: 5px;
}

.rank > .gold {
    color: #FFD700;
}

.rank > .silver {
    color: #C0C0C0;
}

.rank > .bronze {
    color: #7C4833;
}

.rankContentWrap {
    width: 340px;
    padding: 0 4px 0 4px;
}

.rankTitle {
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 16px;
}

.rankNicknameLike {
    display: flex;
}

.rankNickname {
    height: 40px;
    width: 200px;
    font-size: 14px;
    padding-top: 4px;
}

.rankLike {
    height: 40px;
    width: 117px;
    font-weight: 700;
    text-align: right;
    padding-top: 10px;
}

.rankLike > i {
    color: red;

}

